.Editor-tree {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;

    & ul[class*="_LayerTree"] {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }
}


