.Layout-navigation {
    width: 100%;

    & .Logo {
        height: 2.475rem;
        position: absolute;
        top: 0.45rem;
        left: 3.5rem;
    }

    & .SafariUi-Button-selected {
        cursor: default;
    }
}
