.Layout-menu-content {
    padding-top: .375rem;
    gap: .375rem;

    & .SafariUi-Button {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: .4rem;
    }
}