.Layout-menu-content {
    padding-top: .375rem;
    display: flex;
    flex-direction: column;
    gap: .375rem;

    & .SdButton {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: .4rem;
    }
}