.PageEditor-frame-render {
    width: 100%;
    padding: 1rem;
    background-color: var(--palette-background);

    & iframe div[class*="_DraggableComponent-actions"] {
        position: absolute;
        z-index: 1000;
    }
}

.PageEditor-frame-render-disabled {
    display: none;
}

#puck-preview {
    border: 1px solid var(--palette-shadow-light);
    box-shadow: var(--palette-shadow-light) .15rem .15rem .1rem;
}
