.SdDrawer-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .SdDrawer-header-close {
        display: flex;
        align-items: center;

        & .SdButton {
            border: solid 1px var(--palette-text);
        }
    }

    & .SdDrawer-header-content {
        display: flex;
        width: 100%;
    }

    & .SdLogo {
        position: absolute;
        top: .5rem;
        height: 2.475rem;
    }
}

.SdDrawer-header-direction-left {
    & .SdDrawer-header-close {
        justify-content: flex-end;
        width: 100%;
    }

    & .SdDrawer-header-content {
        justify-content: flex-start;
    }

    & .SdLogo {
        left: 1rem;
    }
}

.SdDrawer-header-direction-right {
    flex-direction: row-reverse;

    & .SdDrawer-header-close {
        justify-content: flex-start;
        width: 100%;
    }

    & .SdDrawer-header-content {
        justify-content: flex-end;
    }

    & .SdLogo {
        right: 1rem;
    }
}
