.Editor-toolbar {
    background-color: var(--palette-paper);
    align-content: center;
    border-right: 1px solid var(--palette-shadow-light);

    & .SdLoader {
        position: absolute;
    }
}

.Editor-toolbar-separator {
    border-top: 1px solid var(--palette-shadow-light);
    width: 100%;
    margin: .5rem 0;
}
