.PageEditor-tools-components {
    & button[class*="_ComponentList-title"] {
        transition: .2s;
        color: var(--palette-text);

        &:hover {
            background-color: var(--palette-shadow-light);
        }
    }

    & div[class*="_DragIcon"] {
        scale: 1.4;
    }
}