.PageEditor-tools-SelectList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    height: 100%;
    width: 100%;
    overflow: scroll;

    & .SafariUi-Button {
        justify-content: left;
    }
}