.SdTextInput {
    --input-padding: .4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    width: 250px;
    border: 1px solid var(--palette-border);
    border-radius: var(--spacing-radius);
    background-color: var(--palette-paper);
    color: var(--palette-text);
    padding: var(--input-padding);

    &.SdTextInput-fullwidth {
        width: 100%;
    }

    &.SdTextInput-disabled {
        background-color: var(--palette-background-disabled);
        border-color: var(--palette-border-disabled);

        & input {
            color: var(--palette-text-disabled);
        }
    }

    &.SdTextInput-loading {
        outline: none;

        & input {
            color: var(--palette-text-disabled);
            caret-color: transparent;
            cursor: default;
        }
    }
}


.SdTextInput-error {
    border-color: var(--palette-error);
    outline: 1px solid var(--palette-error);
}

.SdTextInput-selected {
    outline: 1px solid var(--palette-primary);

    &.SdTextInput-error {
        outline-color: var(--palette-error);
    }
}

.SdTextInput input {
    width: 100%;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}
