.SdButton {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    white-space: nowrap;

    min-width: 5rem;
    min-height: 1.8125rem;
    padding: 0.25rem 1rem;
    border: 1px solid;
    border-radius: var(--spacing-radius);
    color: inherit;
    transition: all 0.3s ease;

    & .SdLoader {
        position: absolute;
        left: 50%;
        top: 16.666%;
        transform: translate(-50%, -50%);
    }
}

button.SdButton {
    user-select: none;
}

.SdButton-fullwidth {
    width: 100%;
}

.SdButton-disabled {
    pointer-events: none;
    cursor: default;
}

.SdButton-loading {
    cursor: default;
    pointer-events: none;

    & .SdLoader {
        position: absolute;
        top: 36%;
    }

    & .SdButton-content {
        opacity: 0;
    }
}

.SdButton-variant-primary {
    background-color: var(--palette-primary);
    border-color: var(--palette-primary);

    &:hover, &.SdButton-selected {
        background-color: var(--palette-primary-light);
        border-color: var(--palette-primary-light);
    }

    &.SdButton-disabled {
        background-color: var(--palette-background-disabled);
        border-color: var(--palette-background-disabled);
        color: var(--palette-text-disabled);
    }
}

.SdButton-variant-secondary {
    background-color: transparent;
    border-color: var(--palette-primary);

    &:hover {
        border-color: var(--palette-primary-light);
        color: var(--palette-primary-light);
    }

    &:hover, &.SdButton-selected {
        border-color: var(--palette-primary);
        color: var(--palette-primary);
    }

    &.SdButton-disabled {
        border-color: var(--palette-text-disabled);
        color: var(--palette-text-disabled);
    }
}

.SdButton-variant-text {
    border-color: transparent;
    background-color: transparent;

    &:hover {
        color: var(--palette-primary-light);
    }

    &:hover, &.SdButton-selected {
        color: var(--palette-primary);
    }

    &.SdButton-disabled {
        color: var(--palette-text-disabled);
    }
}

.SdButton-variant-icon {
    padding: 0.25rem;
    min-width: 0;
    min-height: 0;

    line-height: .8rem;
    background-color: transparent;
    border-color: transparent;

    &:hover {
        background-color: var(--palette-primary-light);
    }

    &.SdButton-selected {
        background-color: var(--palette-primary);
    }

    &.SdButton-disabled {
        color: var(--palette-text-disabled);
        opacity: 75%;
    }
}