.Layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    background-color: var(--palette-background);
    color: var(--palette-text);
}

.Layout .SdHeader {
    background-color: var(--palette-paper);

    & > div {
        gap: .375rem;
    }
}
