
.SdIcon {
    line-height: 0;
    --icon-transition: 0s;
    --icon-color: currentColor;
    --icon-size: 1rem;
}

.SdIcon-action {
    cursor: pointer;
}

.SdIcon-animation {
    --icon-transition: 0.4s;
}

.SdIcon-color-primary {
    --icon-color: var(--palette-primary);
}

.SdIcon-color-text {
    --icon-color: var(--palette-text);
}

.SdIcon-color-disabled {
    --icon-color: var(--palette-text-disabled);
}

.SdIcon-size-small {
    --icon-size: calc((var(--text-size) * 1.125));
}

.SdIcon-size-medium {
    --icon-size: calc((var(--text-size) * 1.75));
}

.SdIcon-size-large {
    --icon-size: calc((var(--text-size) * 3));
}

.SdIcon-fullwidth {
    --icon-size: 100%;
}

.SdIcon[direction="up"] {
    --icon-transform: rotate(360deg);
}

.SdIcon[direction="down"] {
    --icon-transform: rotate(180deg);
}

.SdIcon[direction="left"] {
    --icon-transform: rotate(270deg);
}

.SdIcon[direction="right"] {
    --icon-transform: rotate(90deg);
}

.SdIcon {
    color: var(--icon-color);
    fill: var(--icon-color);
    width: var(--icon-size);
    height: var(--icon-size);
    transform: var(--icon-transform);
    -webkit-transition: var(--icon-transition);
    transition: var(--icon-transition);
}