.App-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--palette-paper);
    padding: var(--spacing-1);
    box-shadow: 0 2px 4px 0 var(--palette-shadow);
    border-bottom: 1px solid var(--palette-shadow-light);

    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-1);
        width: 100%;
    }

    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    & > div:first-child {
        justify-content: left;
    }

    & > div:last-child {
        justify-content: right;
    }
}
