.App-navigation {
    width: 100%;

    & .Logo {
        height: 2.475rem;
        position: absolute;
        top: 0.25rem;
        left: 3.5rem;
    }

    & .DigitalUi-Button-selected {
        cursor: default;
    }
}
