.Frame-Editor {
    & .Frame-Editor-Nav {
        width: 100%;
        display: flex;
        flex-direction: column;

        & .Frame-Editor-Nav-Title {
            padding: var(--spacing-1) var(--spacing-1) var(--spacing-2) var(--spacing-2);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        & .Frame-Editor-Nav-List {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing-1) * 0.75);
            padding: 0px var(--spacing-3) 0px var(--spacing-2);
        }

        & .DigitalUi-Button {
            justify-content: left;
            padding: calc(var(--spacing-1) * 0.75);
        }
    }

    & .Frame-Tool {
        height: 100%;
        width: 0px;
        overflow: hidden;
        min-width: var(--panel-size);
        border-right: 1px solid var(--palette-shadow-light);
    }

    & .Frame-Tool-Render {
        overflow-y: auto;
    }

    & .Frame-Tool-Components {
        width: 100%;
        & button[class*='_ComponentList-title'] {
            transition: 0.2s;
            color: var(--palette-text);

            &:hover {
                background-color: var(--palette-shadow-light);
            }
        }

        & div[class*='_DragIcon'] {
            scale: 1.4;
        }
    }

    & .Frame-Tool-Tree {
        width: 100%;
        & ul[class*='_LayerTree'] {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }
    }
}
