:root {
    --palette-primary: #eda600;
    --palette-primary-light: #ffcf33;
    --palette-text: #222222;
    --palette-text-disabled: #707070;
    --palette-background: #f0f0f0;
    --palette-background-disabled: #d2d2d2;
    --palette-paper: #fcfcfc;
    --palette-border: #707070;
    --palette-border-disabled: #b2b2b2;
    --palette-shadow: #00000050;
    --palette-shadow-light: #00000020;
    --palette-error: #b62929;
}