:root {
    --puck-color-azure-01: #4a3800;
    --puck-color-azure-02: #665100;
    --puck-color-azure-03: #806200;
    --puck-color-azure-04: #997300;
    --puck-color-azure-05: #b38419;
    --puck-color-azure-06: #cc952f;
    --puck-color-azure-07: #e4a745;
    --puck-color-azure-08: #fbb85c;
    --puck-color-azure-09: #ffca72;
    --puck-color-azure-10: #ffdb89;
    --puck-color-azure-11: #ffecaf;
    --puck-color-azure-12: #fff6d5;
}