.Puck {
    height: 100%;
    overflow: hidden;
}

.Editor {
    background-color: var(--palette-background);
    overflow: hidden;

    & textarea {
        resize: none;
        min-height: 175px;
        color: var(--palette-text);
        background-color: var(--palette-paper);
    }
}