.SdHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1rem;
    box-shadow: 0 2px 4px 0 var(--palette-shadow);
    border-bottom: 1px solid var(--palette-shadow-light);
}

.SdHeader > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.SdHeader > div:first-child {
    justify-content: left;
}

.SdHeader > div:last-child {
    justify-content: right;
}