.SdAvatar {
    width: var(--avatar-size);
    height: var(--avatar-size);

    & .SdAvatar-container {
        position: relative;
        border-radius: 100%;
        height: var(--avatar-size);
        aspect-ratio: 1/1;
        overflow: hidden;
    }

    & img {
        position: absolute;
        display: block;
        width: var(--avatar-size);
        height: var(--avatar-size);
        object-fit: cover;
        left: 0;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
    }
}

.SdAvatar-action {
    cursor: pointer;
}

.SdAvatar-color-disabled {
    & img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

.SdAvatar-size-small {
    --avatar-size: calc((var(--text-size) * 1.125));
}

.SdAvatar-size-medium {
    --avatar-size: calc((var(--text-size) * 1.75));
}

.SdAvatar-size-large {
    --avatar-size: calc((var(--text-size) * 3));
}

.SdAvatar-fullwidth {
    --avatar-size: 100%;
}
