.Editor-edit {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px solid var(--palette-shadow-light);
}

.Editor-edit-disabled {
    border: none;
}