.SdPopOver {
    z-index: 1001;
    margin: unset;
    padding: 0.75rem .75rem;;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 var(--palette-shadow);
    border: none;
    border-radius: var(--spacing-radius);
    background-color: var(--palette-paper);
    /*animation: grow 0.2s ease;*/
}

.SdPopOver-background {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.SdPopOver-placeholder {
    display: none;
    width: 100%;
    margin-bottom: .75rem;
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}